@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik_Compact_Family/GraphikCompact-Thin-Trial.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik_Compact_Family/GraphikCompact-Light-Trial.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik_Compact_Family/GraphikCompact-Regular-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik_Compact_Family/GraphikCompact-RegularItalic-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik_Compact_Family/GraphikCompact-Medium-Trial.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik_Compact_Family/GraphikCompact-Bold-Trial.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}